<% include partials/admin_head.ejs %>
<% include partials/admin_header.ejs %>
<main role="main">
    <% include partials/admin_nav.ejs %>
    <section>
        <form method="post" enctype="multipart/form-data" id="signupForm">
            <fieldset>
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </fieldset>
            <fieldset>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <span id="emailError"><%= messages.error ? messages.error : "" %></span>
            </fieldset>
            <fieldset>
                <label for="picture">Picture</label>
                <input type="file" name="picture" id="picture">
            </fieldset>
            <fieldset>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
                <span id="usernameError"></span>
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <span id="passwordError"></span>
            </fieldset>
            <fieldset>
                <label for="role">Role</label>
                <select name="role" id="role">
                    <% roles.forEach(role => { %>
                    <option value="<%= role.id %>">
                        <%= role.name %>
                    </option>
                    <% }); %>
                </select>
            </fieldset>
            <button type="submit">Create User</button>
        </form>
    </section>
</main>

<script>
    const form = document.getElementById("signupForm");
    form.addEventListener("submit", function (event) {
        event.preventDefault();
        const email = document.getElementById("email");
        const emailError = document.getElementById("emailError");
        emailError.innerHTML = "";

        const username = document.getElementById("username");
        const usernameError = document.getElementById("usernameError");
        usernameError.innerHTML = "";

        const password = document.getElementById("password");
        const passwordError = document.getElementById("passwordError");

        var succ = true;

        if (!/@/g.test(email.value)) {
            succ = false;
            emailError.innerHTML = "fork ye missing @ 凸(｀0´)凸";
        }

        if (/\d/g.test(username.value)) {
            succ = false;
            usernameError.innerHTML = "username is wrong yer twat";
        }

        if (!/.*\S.*/g.test(password.value)) {
            succ = false;
            passwordError.innerHTML = "what are ye, 5?";
        }

        if (succ) {
            form.submit();
        }
    });
</script>
<% include partials/admin_footer.ejs %>