<nav>
    <ul>
        <li> <a href="/admin">Dashboard</a> </li>
        <li> <a href="/admin/users">Users</a> </li>
        <li> <a href="/admin/profiles">Profiles</a> </li>
        <li> <a href="/admin/roles">Roles</a> </li>
        <li> <a href="/admin/products">Products</a> </li>
        <li> <a href="/admin/categories">Categories</a> </li>
    </ul>
</nav>