<footer>
    <div id="contact">
        <p>Virksomhed navn</p>
        <p>Pulsen 8, Roskilde 4000 </p>
        <p>Telefon: +45 24 24 24 24</p>
        <p>email_her@gmail.com</p>
        <p>CVR: 12345678</p>
    </div>
    <div id="legal">
        <a href="">Cookie betingelser</a>
        <a href="">Refunderings politik</a>
        <a href="">Fortroligheds politik</a>
        <a href="">Handelsbetingelser</a>
        <a href="">Hjælp og support</a>
    </div>
</footer>