<% include partials/head.ejs %>
<% include partials/header.ejs %>
<aside>
    <% include partials/menu.ejs %>
</aside>
<main>
    <p>Tak for handlen.</p>
    <p>En kvitering er på vej til din email.</p>
</main>
<% include partials/footer.ejs %>
