<% include partials/head.ejs %>
<% include partials/header.ejs %>
<aside>
    <% include partials/menu.ejs %>
</aside>
<main>
    <h1>Produkter:</h1>
    <div id="items">
        <a href="/event1"><img src="img/event_ver1.jpg" alt=""><p>Klik her for mere info</p></a>
        <a href="/event2"><img src="img/event_ver2.jpg" alt=""><p>Klik her for mere info</p></a>
        <a href="/event3"><img src="img/event_ver3.jpg" alt=""><p>Klik her for mere info</p></a>
    </div>
</main>
<% include partials/footer.ejs %>